# PyInstaller
dist/
build/
*.spec

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Downloads & archives
downloads/
*.scdl_archive
failed_tracks.txt

# Logs
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini
